/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/*==========================================================================
    Custom styles
     ========================================================================== */

/* ANIMATIONS */
@keyframes word {
  33% {
    animation: fade infinite ease-in-out 0.5s;
    content: 'CSS';
  }
  66% {
    animation: fade 0.5s ease-in-out;
    content: 'JavaScript';
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  33% {
    opacity: 0.33;
  }

  50% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.66;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  33% {
    opacity: 0.33;
  }

  50% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.66;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  33% {
    opacity: 0.33;
  }

  50% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.66;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
  }

  100% {
    transform: translateY(-10%);
  }
}

/* ******************************************   BASE STYLES  ***************************************************/

* {
  padding: 0;
  margin: 0;
}
p{
  font-family: 'Courier New', Courier, monospace';
}

li{
  font-family: 'Courier New', Courier, monospace;
}

html {
  font-size: 16px;
  /* color: #fff; */
}

body {
  height: 100vh;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

/* button styles */

button {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  background-color: #c0c0c0;
  border: black 1px solid;
  color: rgb(56, 55, 55);
}

button:active {
  color: #fff;
}

a:visited {
  color: #fff;
}

nav {
  display: flex;
  list-style: none;
  background-color: rgb(17, 16, 16);
}

/*********************************** LANDING PAGE STYLES *********************/

/* particles */

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles {
  position: absolute;
  /* top: 0;
    left: 0; */
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* landing area and animations */

.landing-area {
  animation: slideTop ease-in-out 1s;
  color: #fff;
  height: 80vh;
  width: 90%;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(73, 73, 71, 0.2);
  padding: 2%;
}

.switch-word::before {
  content: 'HTML';
  animation: word ease-in-out infinite 8s;
}

.switch-word {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-left: 5%;
  padding-top: 5%;
}

.name {
  color: red;
  text-transform: capitalize;
}

/* explore button styles */

#explore {
  animation: slideIn ease-in-out 1s;
  border-radius: 5%;
  cursor: pointer;
  font-size: 1.5em;
  letter-spacing: 10px;
  margin-top: 20%;
  margin-left: 33%;
  padding: 5%;
  transition: ease-in-out 0.1s;
}

#explore:active {
  animation: slideIn ease-in-out 0s, bounce ease-in-out 0.1s;
}

#explore:hover {
  background-color: rgb(56, 55, 55);
  color: #c0c0c0;
  transform: scale(1.1);
}

/***************** LANDING PAGE NAVIGATION MENU ***************************/

.navigation {
  display: none;
}

.navigation li {
  animation: slideRight 1s ease-in-out;
  background-color: #c0c0c0;
  border: black 1px solid;
  color: rgb(56, 55, 55);
  cursor: pointer;
  font-style: italic;
  font-size: 1.5em;
  list-style: none;
  margin-bottom: 20%;
  padding: 15%;
  transition: ease-in-out 0.1s;
}

.navigation li:hover {
  background-color: rgb(56, 55, 55);
  color: #c0c0c0;
  transform: scale(1.1);
}

.show-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
  z-index: 200;
}

.exitBtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15%;
}

#x-button {
  animation: slideRight 1s ease-in-out;
  color: #fff;
  background-color: rgba(192, 192, 192, 0.2);
  border: #c0c0c0 1px solid;
  font-size: 0.8em;
  padding: 2%;
}

#x-button:hover {
  background-color: rgb(17, 16, 16);
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/************************************ MAIN NAVIGATION STYLES  *************************************/



.nav-container {
  background-color: rgb(17, 16, 16);
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding-top: 5%;
}

.logo {
  border-right: solid #fff 2px;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2%;
}



.header-divider {
  opacity: 0;
  width: 100%;
  height: 1px;
  border: 1px solid #f2e3da;
  background-color: #f2e3da;
  transition: opacity 600ms;
}

.main-nav {
  align-items: center;
  color: #fff;
  opacity: 0;
  font-size: 0;
  flex-direction: row;
  justify-content: center;
  transition: opacity 600ms, visibility 600ms, background-color 600ms,
    height 600ms, font-size 100ms; 
  visibility: hidden;
  background-color: rgb(17, 16, 16);
  height: 0;
}

/* animating the close and show nav button */

#show-nav {
  background-color: rgb(17, 16, 16);
}

#show-nav:visited:active{
  border: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: #c0c0c0;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.test-show {
  display: flex;
  font-size: 0.8em;
  opacity: 1;
  visibility: visible;
  background-color: black;
  height: 10%;
}

.show-divider {
  opacity: 1;
}

.main-nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: capitalize;
  width: 100%;
}

.main-nav li a {
  display: flex;
  transition: ease-in-out 0.1s;
  width: 33%;
}

.main-nav a {
  padding: 2%;
  transition: ease-in-out 0.2s;
}

.main-nav a:hover {
  /* background-color: #c0c0c0; */
  box-shadow: 0px 1px #c0c0c0;
  cursor: pointer;
}

/***************** PROJECTS STYLES **********************/

.container {
  border-top: 1px white solid;
  display: flex;
  background-color: rgb(22, 14, 14);
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.main-header {
  display: flex;
  justify-content: center;
  font-family: 'Raleway' sans-serif;
  font-size: 1em;
  font-family: 'Sonsie One', cursive;
  
}
.main-header span{
  color: red;
  padding-right: 3%;
}

/******************** Description styles *************************/

.description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  font-size: 0.5em;
}

.desc-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.points {
  align-items: center;
  background: linear-gradient(-45deg, #111010, #5b5c5c);
  border-radius: 25px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 5%;
  padding: 3%;
}
.points:hover {
  background: linear-gradient(-45deg, #d3d4d4, #515557, #918a8d, #1a1818);
}


.lang-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
  
}
.lang-logo img{
  box-shadow: 10px 10px rgb(175, 173, 173);
}

/************************ HTML project part styles  *******************/
.html-header{
  font-size: 0.9em;
}
.html-points{
  background: linear-gradient(-45deg, #111010, #5b5c5c);
  border-radius: 25px;
  font-size: 0.6em;
  margin-bottom: 5%;
  padding: 3%;
  list-style: none;
}
.html-points:hover {
  background: linear-gradient(-45deg, #d3d4d4, #515557, #918a8d, #1a1818);
}

#css-logo{
  /* box-shadow: -10px -10px rgb(175,173,173, green, blue); */
}


/*========================MEDIA QUERY FOR TABLETS AND IPADS=============================================*/

@media only screen and (min-width: 768px) {
  /* LANDING PAGE TABLET / IPAD STYLES */
  .landing-area {
    padding: 2%;
    width: 80%;
  }
  .navigation li {
    font-size: 1.5em;
    list-style: none;
    margin-bottom: 20%;
    padding: 10%;
  }

  /* main nav for ipads */

  .nav-container {
    padding-top: 3%;
  }

  .logo {
    font-size: 2em;
  }

  .header-divider {
    margin-bottom: 10px;
  }

  .main-nav ul {
    padding: 2%;
  }

  .main-nav a {
    padding: 1%;
    transition: ease-in-out 0.2s;
  }
  
  /****************** project page styles ipad   ***********************/

  .container {
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .main-header {
    font-size: 1.5em;
  }
  /**************** styles for desc on projects   *********************/

.description {
  flex-direction: row;
  font-size: 0.5em;
}

.desc-body {
  flex-direction: row;
  flex-flow: wrap;
}

.points {
  margin-right: 5%;
  width: 30%;
  min-height: 100px;
}
.lang-logo{
  transform: scale(0.7);
}
}



/*========================DESKTOP AND LAPTOP MEDIA QUERY===================================*/
@media only screen and (min-width: 1200px) {

  
  
  /* LANDING PAGE DESKTOP STYLES */
  .landing-area {
    padding: 1%;
    width: 50%;
  }
  #explore {
    font-size: 1em;
    
  }

  /* NAV STYLES FOR DESKTOP */

  .exitBtn {
    margin-bottom: 10%;
  }

  #x-button {
    font-size: 0.6em;
    padding: 1%;
  }

  .navigation li {
    font-size: 1.5em;
    list-style: none;
    margin-bottom: 10%;
    padding: 10%;
  }

  /* logo styles for desktop */

  /* main nav styles desktop */

  .nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .logo {
    font-size: 1.5em;
  }

  .header-divider {
    display: none;
  }

   .main-nav {
    flex-grow: 8;
    height: 100px;
    font-size: 1em;
    opacity: 1;
    visibility: visible;
  }



  /* HIDING THE SHOW NAV BUTTON AND DISPLAYING THE NAV FOR DESKTOP */

  #show-nav {
    display: none;
  }

  /***********************project main styles for desktop  ***********/

  
  
  .main-header {
    font-size: 2em;
  }
  /**************** styles for desc on projects desktop**************/

.description {
  flex-direction: row;
  font-size: 0.8em;
  width: 50%;
}

.desc-body {
  flex-direction: row;
  flex-flow: wrap;
  margin-top: 10%;
}

.points {
  margin-bottom: 1%;
  margin-right: 5%;
  width: 50%;
  min-height: 100px;
  font-size: 0.8em;
  padding: 1%;
  
}
.lang-logo{
  
  transform: scale(0.8);
  position: absolute;
  top: 50%;
  left: 60%;
  
}
.lang-logo img{
  border-radius: 0.25em;
  transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
  transition: 300ms;
  box-shadow: 2px 10px 30px hsla(0, 0, 0, 0.25);
}
.lang-logo img:hover{
  transform: rotate(0);
  box-shadow: 0 0 0;
}

/************************ html css desc styles  ********************/

.htmlproj{
display: flex;
justify-content: flex-end;
align-items: center;
flex-flow: wrap;
}

.html-desc{
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  /* width: 50%; */
}

.html-desc-body{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: 50%;
}

.html-points{
  background: linear-gradient(-45deg, #111010, #5b5c5c);
  border-radius: 25px;
   display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
  padding: 3%;
  margin-bottom: 1%;
  margin-right: 5%;
  width: 50%;
}

#css-logo{
  top: 145%;
  left: 20%;
}

}

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/* other boilerplate styles */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* a,
  a:visited {
     text-decoration: underline; 
  } */

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
